.filters-modal {
  .input {
    width: 100% !important;
  }

  .machines-cont {
    padding: 36px 32px;
    border-radius: 24px;
    margin: 40px 0;
    border: 1px solid #ced4da;
    .filter-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .chip-cont {
      margin: 10px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  table {
    padding: 0;
  }
}
