$color-blue: #377dff;
$color-white: #ffffff;
$color-grey: #ced4da;
$color-grey-2: #adb5bd;
$color-grey-3: #333333;
$color-grey-4: #cacaca;
$color-grey-5: #5d6679;
$color-grey-6: #495057;
$color-grey-7: #868e96;

$color-success: #53a450;
$color-danger: #ff5630;
$color-warning: #e2d900;
$color-brown: #e28800;
$color-blue-1: #5053a4;
$color-purple: #9d50a4;
