@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: 'DM Sans', 'Lato', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #fdfdfd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-cont {
  margin-left: 80px;
  min-height: 100vh;
  padding: 0 1rem;
}
